<a href="https://colab.research.google.com/github/Rohith0750/Ds-And-Ai-ml-From-Scrartch/blob/main/DS_and_AI_Masters.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=10
print(a)
type(a)

In [16]:
b="I am a boy"
type(b)
c="10.5"
d=True
print(type(d))
print(type(c))

<class 'bool'>
<class 'str'>

Variables are the temporary storage space where we can store the values ,we can keep changeing the values.

a=10
a is the the variable


**Rules for Python variables:**
1.A variable name must start with a letter or the underscore character.
2.A variable name cannot start with a number.
3.A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).
4.Variable names are case-sensitive (age, Age and AGE are three different variables).

**Keywords**:Special reserved words which convey special meaning .
example:def , ifelse ,if ,in,break,finally,lambda.


*   It cannot be used as the variable

**type**: It is uses to find the type of the variable
print(type(c))  --> Even though it is a int but we kept in quotes so it is String

In [ ]:
def sum_function(a,b):
  c=a+b
  return c

sum_function(3,4)

**Function** : It is a block of code only runs when it is called.
how to create a function-->
use *def* keyword
# syntax
def Function_name(paramaters):
           block of code
function_name(values)


Example : folow cell[9]--> Above one

In [ ]:
# Data Types in python
name = "Rohith"
age = 20
CGPA=8.44

**Data Types ** It describes the which type of data is stored.
---
*   There Are 5 different types of data i.e Numeric ,Dictionary , Boolean ,    set , Sequence Type .
*   In Numeric dataType we have int , float , Complex Numbers
*   In sequence datatype -->Strings , Tuple , List

In [18]:
name_1=input()
print(name_1)

age = input()
print(age)
print(type(age))

#Typecasting to int
age_1=int(input())
print(age_1)
print(type(age_1))

21
21
21
21
<class 'str'>
21
21
<class 'int'>

`input() Keyboard` : user input is primarily obtained using the input() function. This function pauses the program execution and waits for the user to type something and press Enter.

*  Whatever we type is always returned as a string
*  To convert into any other type use typecasting
*   In above cell to convert to int we use type casting in the input sentance
only.

In [ ]:
var_1="2.5"
print(type(var_1))

# int(var_1)# Error will occur in this beacuse typecastinf has some rules ,For this we should convert into float 1st and then to int , Thereby no error .To typecasted we should assign the new variable name therfore the typecasting will work.

var_new=int(float(var_1))
print(var_new )
print(type(var_new))

**Typecasting**
*   Widening Casting (automatically) - converting a smaller type to a larger   type size  
byte -> short -> char -> int -> long -> float -> double

Narrowing Casting (manually) - converting a larger type to a smaller size type  
double -> float -> long -> int -> char -> short -> byte

In [19]:
# Strings

String_var="Rohith S D"
#to access it
(String_var[0])
print(String_var[-3])

# we cannot chage the index letter like
#print(String_var[0]='l') # this is a error
# Beacuse Strings are immutable in nature , Hence we cannot change
a_1="Rohith"
b1="S D"
c1=a_1+b1
print(c1)
#We can add Both Strings This is called Concatenation
#f strings --> Put f in front of string use {} for variables.
text=f"My name is {c1}"
print(text)

S
RohithS D
My name is RohithS D

In [22]:
#Arthemetic Operation
# Some operations are -->+,-,*,/,//,%,**
# It will operate in BODMAS Rule
print((4*5)-9+6/7)
# // --> Floor Division : it will be always in form of int
# /  --> Division : It will be in form of float.
aone=2
bone=3
cone=2**3  #2^3
print(cone)

11.857142857142858
8

# List

In [54]:
#List -->Order Sequence of mixed data type
#Comma Seprated With square bracket
#Mutable in nature , i.e we can change it
#Accessed like array
#Can have nested list like list inside list

My_list=['Rohith S D', 750, 'Sadholalu' , 8.44]
print(My_list)
#To acces it
print(My_list[2])
print(len(My_list)) # Give the length of list

My_list1=['Rohith S D', 750, 'Sadholalu' , 8.44,['presidency University', 'banglore']]
print(My_list1)
print(My_list1[4][0])#-->To acces list inside list

#Slicing --> list_name=[st:end:stepcount]
print(My_list1[0:3])
print(My_list1[0:])
print(My_list1[:-4])

My_list2=['Software Enginnering',2 ,'b.tech in CSE']

final_list=My_list1+My_list2
print(final_list) # This term is called list concatenation
print(len(final_list))

new_list=final_list+ ['roopa ' , 'devaraju']
print(new_list)# We can add in this way also

# Membership in list
print('Software Enginnering' in new_list) #-->tO CHECK WEATHER THE ELEMENT IS FOUND IN THE LIST OR NOT , RETURNS BOOLEAN VALUES

#Mutabillity --> Mean we can change , the list is mutable in nature
new_list[5]='Full-Stack Developer'
print(new_list)#['Rohith S D', 750, 'Sadholalu', 8.44, ['presidency University', 'banglore'], 'Full-Stack Developer', 2, 'b.tech in CSE', 'roopa ', 'devaraju'] See the chnges in the index 5.


#List Functions
#extend

cars = ['Ford', 'BMW', 'Volvo']
cars.extend(['inova','marithi800'])
print(cars)
# append
fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")
fruits.append(['mango','kiwi'])
print(fruits)#See the changes of extend and append

#delete
del fruits[1]
print(fruits)
fruits.pop(2)
print(fruits)
fruits.remove('apple')
print(fruits)

#sort
theone=[252,4 ,55 ,32,9 ,5,151,525,4846,216,484,515]
theone.sort()
print(theone)
theone.sort(reverse=True)
print(theone)

['Rohith S D', 750, 'Sadholalu', 8.44]
Sadholalu
4
['Rohith S D', 750, 'Sadholalu', 8.44, ['presidency University', 'banglore']]
presidency University
['Rohith S D', 750, 'Sadholalu']
['Rohith S D', 750, 'Sadholalu', 8.44, ['presidency University', 'banglore']]
['Rohith S D']
['Rohith S D', 750, 'Sadholalu', 8.44, ['presidency University', 'banglore'], 'Software Enginnering', 2, 'b.tech in CSE']
8
['Rohith S D', 750, 'Sadholalu', 8.44, ['presidency University', 'banglore'], 'Software Enginnering', 2, 'b.tech in CSE', 'roopa ', 'devaraju']
True
['Rohith S D', 750, 'Sadholalu', 8.44, ['presidency University', 'banglore'], 'Full-Stack Developer', 2, 'b.tech in CSE', 'roopa ', 'devaraju']
['Ford', 'BMW', 'Volvo', 'inova', 'marithi800']
['apple', 'banana', 'cherry', 'orange', ['mango', 'kiwi']]
['apple', 'cherry', 'orange', ['mango', 'kiwi']]
['apple', 'cherry', ['mango', 'kiwi']]
['cherry', ['mango', 'kiwi']]
[4, 5, 9, 32, 55, 151, 216, 252, 484, 515, 525, 4846]
[4846, 525, 515, 484, 252, 216, 151, 55, 32, 9, 5, 4]